@charset "UTF-8";
html{background:white}
body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,dl,dd,fieldset,form,input,select,textarea,button,figure{margin:0}
ul,ol,menu{list-style:none;margin:0;padding:0}
body{font-size:75%;line-height:1.5;font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB",\5FAE\8F6F\96C5\9ED1,tahoma,simsun,\5b8b\4f53;}
a:hover{color: #333;text-decoration: none;}
img{border: none;vertical-align: middle;}
fieldset, a img, iframe{border: 0 none;}
a{color: #676767;text-decoration: none;cursor: pointer;outline: none;}
em, i{font-style: normal;}
.main{background-color: #f6f6f6;}
.count{width: 1090px;margin: 0 auto;}
del{text-decoration: line-through;}
.clear{clear: both;}
table {border-collapse: collapse;border-spacing: 0;}
input, select, button, textarea {font-size: 100%;font-family: inherit;outline: none;}
thead {display: table-header-group;vertical-align: middle;border-color: inherit;}
tr {display: table-row;vertical-align: inherit;border-color: inherit;}

*, :before, :after {
    box-sizing: border-box;
}

/*文字图标*/
@font-face {
    font-family: 'iconfont';
    src: url('font-face/iconfont.eot');
    src: url('font-face/iconfont.eot?#iefix') format('embedded-opentype'),
    url('font-face/iconfont.woff') format('woff'),
    url('font-face/iconfont.ttf') format('truetype'),
    url('font-face/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/*终端选择*/
html, body {
    width: 100%;
    height: 100%;
    background: #d6d6d6;
    overflow: hidden;
}
.all {
    position: relative;
    width: 100%;
    height: 100%;
}
.header {
    position: relative;
    z-index: 999;
    height: 60px;
    padding: 0 575px 0 140px;
    background: #fff;
    line-height: 60px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
}
.header .back {
    position: absolute;
    top: 23px;
    left: 33px;
    font-size: 14px;
    color: #000;
    line-height: 1;
    cursor: pointer;
    -webkit-transition: color .3s;
    transition: color .3s;
}
.header .back:hover {
    color: #7bb9e0;
}
.header .back .ico-arrow-left {
    margin-right: 5px;
    border-right-color: #000;
    border-top-width: 5px;
    border-bottom-width: 5px;
    -webkit-transition: border-right-color .3s;
    transition: border-right-color .3s;
}
.header .back:hover .ico-arrow-left {
    border-right-color: #7bb9e0;
}
.ico-arrow-left {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    border-right: 7px solid #000;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}
.header .back .ico-arrow-left:after {
    border-top-width: 4px;
    border-bottom-width: 4px;
}
.ico-arrow-left:after {
    content: '\20';
    position: absolute;
    top: -4px;
    left: 2px;
    width: 0;
    height: 0;
    border-right: 5px solid #fff;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

.header .device {
    height: 48px;
    padding-top: 12px;
    overflow: hidden;
    text-align: center;
    line-height: 1;
}
.header .device .icof-pc {
    top: 3px;
    width: 44px;
    height: 34px;
    font-size: 44px;
    line-height: 34px;
}
.header .device .icofont {
    position: relative;
    display: inline-block;
    margin: 0 4px;
    overflow: hidden;
    font-size: 38px;
    color: #9b9b9b;
    text-align: center;
    cursor: pointer;
    -webkit-transition: color .3s;
    transition: color .3s;
}

.header .nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 575px;
}

.device-pc .icof-pc,.device-pad .icof-pad,.device-phone .icof-phone{
    color: #7bb9e0!important;
}

.clearfix:before, .clearfix:after {
    content: '';
    display: table;
    line-height: 0;
}
.header .nav li {
    float: right;
    margin-right: 10px;
}
.header .nav li .button-publish {
    padding-left: 19px;
    padding-right: 19px;
}
.header .nav li span {
    font-size: 14px;
}
.btn-danger {
    background: #e7554a;
    border: 1px solid #e7554a;
    color: #fff;
}
.btn {
    display: inline-block;
    padding: 7px 33px;
    border-radius: 8px;
    font-size: 14px;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.header .nav li.line {
    width: 1px;
    height: 36px;
    margin-top: 12px;
    background: #f2f2f2;
}
.header .nav li .button-save {
    padding-left: 19px;
    padding-right: 14px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    left: 8px;
}
.header .nav li .line {
    position: relative;
    top: 10px;
    left: 4px;
    display: inline-block;
    width: 0;
    height: 30px;
    overflow: hidden;
    border-right: 1px solid #6da8cd;
}
.header .nav li .button-preview {
    padding-left: 14px;
    padding-right: 19px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.header .nav li .button-revert {
    display: inline-block;
    margin-right: -5px;
    padding: 7px 5px;
    border-radius: 8px;
    font-size: 14px;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-transition: background .3s;
    transition: background .3s;
}
.header .nav li .button-revert:hover .icofont {
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
    -webkit-transform-origin: center;
    transform-origin: center;
}
.header .nav li .button-revert .icofont {
    display: inline-block;
    padding-right: 3px;
    color: #4a4a4a;
    -webkit-transition: -webkit-transform .5s;
    transition: transform .5s;
}
.header .nav li .button-revert:hover {
    background: #eee;
}

/*主体部分*/
.container {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}
.main {
    height: 100%;
    width: calc(78% - 15px);
    overflow: hidden;
}

/*侧边栏部分*/
.aside {
    position: absolute;
    top: 0;
    right: 0;
    width: 22%;
    height: 100%;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.editor, .editor-inner {
    position: relative;
    height: 100%;
    background: #f3f3f3;
    box-shadow: 0 0 rgba(0,0,0,.5);
}
.editor-intro {
    padding: 12px 0 12px 41px;
}
.editor-intro .help-title {
    font-size: 18px;
    font-weight: 700;
    padding: 20px 0 22px;
}
.editor-intro .help-subTitle {
    padding: 0 0 2px;
}
.editor-intro .help-content {
    padding-left: 15px;
    padding-top: 2px;
    list-style-type: decimal;
}
.editor-intro .help-content li {
    line-height: 2;
}
.editor-intro .help-content .ico-fn {
    position: relative;
    top: -2px;
    display: inline-block;
    margin: 0 3px;
    vertical-align: middle;
    cursor: default;
}
.editor-intro .help-content .ico-fn .iconfont{
    color: #7bb9e0;
}

.btn-primary.disabled, .btn-primary.disabled:hover {
    background: #d8d8d8;
    border: 1px solid #d8d8d8;
    cursor: default;
    cursor: not-allowed;
}
.btn-primary {
    background: #7bb9e0;
    border: 1px solid #7bb9e0;
    color: #fff;
}
.btn-danger:hover {
    background: #d5493f;
    border: 1px solid #d5493f;
}

/*侧边栏控制*/
.editor-resize {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 0;
    font-size: 0;
}
.editor-resize .eo-tooltip {
    display: inline-block;
}
.editor-resize .eo-tooltip {
    display: inline-block;
}
.editor-resize-left .editor-resize-btn {
    border-radius: 3px 0 0 3px;
}
.editor-resize-btn {
    width: 25px;
    height: 46px;
    cursor: pointer;
}
.editor-resize-btn span {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    line-height: 46px;
    color: #7bb9e0;
}
.editor-resize .eo-tooltip .eo-tooltip-text {
    left: -6px;
    top: 55px;
    width: 40px;
    padding: 4px 0;
    text-align: center;
}
.eo-tooltip-default .eo-tooltip-text {
    top: 0;
    left: 0;
    width: 200px;
    padding: 8px 12px;
    background: #fff;
    border: 1px solid #b6b6b6;
    font-size: 12px;
    color: #000;
}
.eo-tooltip .eo-tooltip-text {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    padding: 12px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 4px;
}
.eo-tooltip-default .eo-tooltip-text:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-bottom: 10px solid #b6b6b6;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.eo-tooltip .eo-tooltip-text:after {
    content: '\20';
    position: absolute;
    z-index: 999;
    width: 0;
    height: 0;
}
.editor-resize .eo-tooltip {
    display: inline-block;
}
.eo-tooltip {
    position: relative;
}
.editor-resize-btn:hover {
    background: #dedede!important;
}

/*侧边栏展开模式*/

/*默认模式*/
.aside-large .icon-left1,.aside-large .icon-right1{
    display: none;
}
.aside-large .editor-resize {
    left: -26px;
    background: #f7f7f7;
}
.aside-large {
    width: 50%;
    box-shadow: -2px 0 3px rgba(0,0,0,.24);
}
.aside-large .editor-resize-btn span {
    left: 6px;
}
.aside-large .editor-resize-right .editor-resize-btn {
    box-shadow: 2px 0 1px rgba(0,0,0,.24);
}
.aside-large .editor-resize-btn {
    background: #f7f7f7;
}
.aside-large .editor-resize-line {
    position: relative;
    top: 4px;
    display: inline-block;
    width: 2px;
    height: 38px;
    background: #e0e0e0;
    vertical-align: top;
}
.aside-large .editor-resize-left .editor-resize-btn {
    box-shadow: -2px 0 1px rgba(0,0,0,.24);
}
.aside-large .editor-resize-btn {
    background: #f7f7f7;
}

/*右收模式*/
.aside-normal .icon-left,.aside-normal .icon-right{
    display: none;
}
.aside-normal .icon-right1{
    display: none;
}
.aside-normal .editor-resize {
    left: -25px;
}
.aside-normal .editor-resize-right {
    display: none;
}
.aside-normal .editor-resize-btn {
    background: #f3f3f3;
    box-shadow: -2px 0 1px rgba(0,0,0,.24);
}
.aside-normal .editor-resize-btn span {
    left: 4px;
}

/*左展模式*/
.aside-full .icon-left,.aside-full .icon-right{
    display: none;
}
.aside-full .icon-left1{
    display: none;
}
.aside-full {
    width: 100%;
}
.aside-full .editor-resize-left {
    display: none;
}
.aside-full .editor-resize-btn {
    background: #fff;
    box-shadow: 2px 0 3px rgba(0,0,0,.24);
}
.aside-full .editor-resize-btn span {
    left: 4px;
}

/*终端背景图片*/
.wid_pad{
    background: url(../images/pad.png) no-repeat top;
    background-size: 100%;
    padding: 92px 34px 0 37px;
}

.wid_wap{
    background: url(../images/phone.png) no-repeat center;
    background-size: 100%;
    padding: 108px 54px 106px 50px;
}